<div class="accordion-container">
    <h2 class="principal-title-desktop">VOUS AVEZ DES QUESTIONS?</h2>
    <div class="accordion-item">
        <div class="accordion-question">
            <h3>COMMENT PREPARER MON RENDEZ-VOUS?</h3>
            <div class="arrow">▼</div>
        </div>
        <div class="accordion-answer">
            <p>Au moment de prendre rendez-vous - à l’étape 4 - n’hésitez pas à indiquer toutes les informations nécessaires pour aider nos conseillères à savoir ce que vous souhaitez : style, taille, couleur, budget, envies … dites-nous tout ! Après avoir pris votre rendez-vous, identifiez-vous sur le site etam.com pour faire votre Wishlist. Nos conseillères mettront de côté les articles identifiés et s’en inspireront pour vous proposer une sélection sur-mesure.
            </p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-question">
            <h3>COMMENT CRÉER UNE WISHLIST ?</h3>
            <div class="arrow">▼</div>
        </div>
        <div class="accordion-answer">
            <p>En cliquant sur l'icône coeur à côté de nos produits.</p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-question">
            <h3>QUE DOIS-JE PRÉVOIR POUR MON RENDEZ-VOUS ?</h3>
            <div class="arrow">▼</div>
        </div>
        <div class="accordion-answer">
            <p>Venez avec votre bonne humeur et faites confiance à nos experts.</p>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-question">
            <h3>COMMENT RETROUVER LES INFORMATIONS DE MON RENDEZ-VOUS ?</h3>
            <div class="arrow">▼</div>
        </div>
        <div class="accordion-answer">
            <p>Vous pourrez retrouver toutes les informations nécéssaires concernant votre rendez-vous sur votre espace personnel, en vous connectant ou en contactant directement le magasin.</p>
        </div>
    </div>
</div>