
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card background-yellow">
                <div class="card-content">
                    <div class="card-logo">
                        <img src="./images/Vector1.svg" alt="logo-coeur">
                    </div>
                    <div class="card-subtitle">
                        <h4>MON RENDEZ-VOUS</h4>
                    </div>
                    <div class="card-title">
                        <h2>NUMERO FETICHE</h2>
                    </div>
                    <div class="card-text">
                        <p>Quelle est la forme la plus adaptée à votre morphologie ?<br/> Quel décolleté vous mettra le plus en valeur ?<br/> <br/> Notre conseillère prendra vos mesures et vous accompagnera dans la quête de votre futur soutien-gorge fétiche.</p>
                    </div>
                    <div class="card-button">
                        <button class="btn-swiper-yellow"> Prendre rendez-vous </button>
                        <div class="swiper-button-next cross-style"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card background-red">
                <div class="card-content">
                    <div class="card-logo">
                        <img src="./images/Vector2.svg" alt="logo-coeur">
                    </div>
                    <div class="card-subtitle">
                        <h4>MON RENDEZ-VOUS</h4>
                    </div>
                    <div class="card-title">
                        <h2>ESSENTIEL LINGERIE</h2>
                    </div>
                    <div class="card-text">
                        <p> Coton comfy ou dentelle sexy ? Corbelle ou push up ? Il est temps de faire le point sur votre tiroir à lingerie. <br/><br/> Vous passerez en revue avec votre conseillère tous nos incontournables lingerie en fonction de vos envies et de votre morphologie !</p>
                    </div>
                    <div class="card-button">
                        <button class="btn-swiper-red"> Prendre rendez-vous </button>
                        <div class="swiper-button-next cross-style"></div>
                        <div class="swiper-button-prev cross-style"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card background-pink">
                <div class="card-content">
                    <div class="card-logo">
                        <img src="./images/Vector3.svg" alt="logo-coeur">
                    </div>
                    <div class="card-subtitle">
                        <h4>MON RENDEZ-VOUS</h4>
                    </div>
                    <div class="card-title">
                        <h2>LINGERIE SEXY</h2>
                    </div>
                    <div class="card-text">
                        <p>En quête de lingerie de grossesse alliant confort et style ? <br/><br/> Votre conseillère vous aidera à faire le point en fonction de vos besoins : matière extensibles, clips d’allaitement... laissez-vous guider pour une lingerie tout confort pendant et après votre grossesse !</p>
                    </div>
                    <div class="card-button">
                        <button class="btn-swiper-pink"> Prendre rendez-vous </button>
                        <div class="swiper-button-prev cross-style"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

